@import "tailwindcss";

:root {
    --background-color: #1c1c1f;
    --secondary-color: #1f1f1f;
    --secondary-color: #1f1f1f;
    --input-color: #272727;
    --text-color: #777777;
    --border-color: #141414;
    --highlight-color: #777777;
    --highlight-bgg-color: #3a3a3a;
    --highlight-color-hover: #113ed1;

    --button-color: #a5a5a500;
    --button-color-hover: #000000de;

    --tab-color: #d2d3da;
    --tab-bgg: #1d1d1d;
    --tab-border: #777777;

    --tab-active-color: #d2d3da;
    --tab-active-bgg: #464646;
    --tab-active-border: #464646;

    --tab-color-hover: #d2d3da;
    --tab-bgg-hover: #464646;
}

.hide-y-scrollbar {
    overflow-y: hidden;
}

.draggable-region {
    -webkit-app-region: drag;
}

.main-bgg {
    background-color: var(--background-color);
}

.secondary-bgg {
    background-color: var(--secondary-color);
}

.main-color {
    color: var(--text-color);
}

.tab {
    border-color: var(--tab-border);
    background-color: var(--tab-bgg);
    color:  var(--tab-color);
}

.tab-active {
    border-color: var(--tab-active-border);
    background-color: var(--tab-active-bgg);
    color:  var(--tab-active-color);
}

.tab .view-tab-button:hover,
.tab .close-tab-button:hover {
    background-color: var(--tab-bgg-hover);
    color:  var(--tab-color-hover);
}

.button-main {
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
}

.button-main:hover {
    color: var(--button-color-hover);
}

.highlight-color {
    color: var(--highlight-color);
}

.highlight-bgg {
    background-color: var(--highlight-bgg-color);
    color: var(--text-color);
}

.input-main {
    background-color: var(--input-color);
    color: var(--text-color);
}

.border-color {
    border-color: var(--border-color);
}
